<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MyKey" value="7" />
	</appSettings>

	<connectionStrings>
		<add name="m3had" connectionString="Data Source=DESKTOP-S9OMEN7\SQLEXPRESS;Initial Catalog=Central_DB;Integrated Security=True"/>
	</connectionStrings>
	
</configuration>